@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");
@font-face {
  font-family: 'Google';
  src: url("https://gavinpereira.in/font/ProductSansRegular.ttf") format("truetype");
  src: url("https://gavinpereira.in/font/ProductSansRegular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Google';
  src: url("https://gavinpereira.in/font/ProductSansBold.ttf") format("truetype");
  font-style: bold;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color 100ms, background 300ms;
}

*::selection {
  color: var(--background-secondary);
  background: var(--subheading);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Google', Arial, sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  line-height: 1.6;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: transparent;
}

body {
  --background: #FFFFFF;
  --text: #3F3F3F;
  --text-muted: #585858;
  --primary: #15847B;
  --primary-muted: #547774;
  --subheading: #0D544E;
  --grey: #B7B7B7;
  --background-secondary: #E7FFFD;
  --form-background: #cdf7f4;
  --button: #15847B;
  --button-hover: #0D544E;
  --button-text: #FFFFFF;
  --shadow: rgba(0, 0, 0, 0.2);
  --scrollbar: #bed4d2;
}

.darkmode {
  --background: #020B0D;
  --text: #EAEBEC;
  --text-muted: #CCCCCC;
  --primary: #5CEBDF;
  --primary-muted: #8ECEC9;
  --subheading: #C0FFFA;
  --grey: #B7B7B7;
  --background-secondary: #0E1E25;
  --form-background: #1d3038;
  --button: #00C7B6;
  --button-hover: #5CEBDF;
  --button-text: #083564;
  --shadow: rgba(255, 255, 255, 0.1);
  --scrollbar: #29404a;
}

body.dark {
  background: #292C35;
}

.darkmode_checkbox {
  opacity: 0;
  position: absolute;
}

.darkmode_label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.darkmode_label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: none;
}

.darkmode_label .ball.ball-trans {
  transition: transform 0.2s linear;
}

.darkmode_checkbox:checked + .darkmode_label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.logo-lite {
  display: none;
}

.darkmode .logo-lite {
  display: unset;
}

.darkmode .logo-dark {
  display: none;
}

.inner {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

section.outer {
  background: var(--background-secondary);
}

section .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}

h2.section_title {
  text-align: center;
  color: var(--subheading);
  font-size: 2.5rem;
  margin: 1em 0 0.2em;
}

.logo {
  transition: all 1000ms;
}

.hide-blue {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: transparent;
}

.piracy {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

noscript div {
  min-height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
}

noscript div a {
  color: white;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--background-secondary);
  box-shadow: 0 0 2px -2px black;
  transition: all 300ms;
}

::-webkit-scrollbar-track {
  transition: all 300ms;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  transition: all 300ms;
  border-radius: 5px;
  background: var(--scrollbar);
  cursor: pointer;
}

.header_outer {
  background: var(--background);
  z-index: 69;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 2em;
  height: 70px;
}

.burger_bar {
  background: var(--text);
  height: 5px;
  width: 25px;
  margin: 1px;
}

.header_burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.header_nav {
  transition: all 300ms;
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 1.5em;
}

.nav_link {
  font-weight: 700;
  color: var(--primary-muted);
  position: relative;
}

.nav_link-active {
  color: var(--primary);
}

.nav_link-active::after {
  content: '';
  background: var(--primary);
  height: 6px;
  width: 6px;
  border-radius: 100px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.header_logo {
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
}

.header_logo_icon {
  height: 50px;
}

.header_logo_text {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text);
  line-height: 0.9;
}

.header_burger {
  display: none;
}

.header_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
}

.burger_bar {
  transition: all 300ms;
}

.header_burger-clicked .burger_bar1 {
  position: relative;
  transform: rotate(45deg);
  top: 6.7px;
}

.header_burger-clicked .burger_bar3 {
  transform: rotate(-45deg);
  position: relative;
  bottom: 6.7px;
}

.header_burger-clicked .burger_bar2 {
  transform: translateX(100px);
}

div.header_theme {
  transform: rotateZ(-60deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  transition: all 0.18s ease-in-out;
}

.header_theme_icon {
  font-size: 1.1rem;
}

.header_cover {
  min-height: 70px;
  background: var(--background-secondary);
}

.header_theme,
.header_theme_icon,
.header_theme::selection,
.header_theme_icon::selection {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: transparent;
}

@media screen and (max-width: 800px) {
  .header_burger {
    display: flex;
  }
  .darkmode_checkbox {
    display: flex;
    flex: 1;
    margin-left: auto;
  }
  .header_nav {
    height: 0px;
    overflow-y: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    grid-gap: 3em;
    padding: 3em 0;
    align-items: center;
    width: 100%;
    background: var(--background);
    z-index: 3;
    box-shadow: 0 5px 25px var(--shadow);
  }
  .header_nav .nav_link-active::after {
    top: 50%;
    left: unset;
    right: -15px;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 800px) {
  .main_left {
    padding-top: 2em;
  }
}

.header_nav-expanded {
  height: max-content;
  opacity: 1;
}

.scroll-down .header_outer {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .header_outer {
  box-shadow: 0 2px 10px var(--shadow);
}

.footer_outer {
  background: var(--background);
}

.footer {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > * {
  width: 100%;
}

.footer_logo_icon {
  height: 30px;
}

.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 0.5em;
}

.footer_logo_text {
  font-weight: 700;
  color: var(--text-muted);
}

.footer_joke {
  justify-self: center;
  text-transform: uppercase;
  color: var(--text-muted);
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.4;
}

.striked {
  position: relative;
}

.striked::after {
  content: '';
  width: 110%;
  height: 2px;
  background: var(--text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer_socials {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  grid-gap: 0.5em;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 0.75em;
  }
  .footer > * {
    width: unset;
  }
}

.btn, .btn-big {
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 100px;
  transition: all 300ms;
  background: var(--subheading);
  color: var(--background);
  border: 3px solid var(--subheading);
}

.btn:hover, .btn-big:hover {
  transform: translateY(-3px);
}

.btn-sec {
  border: 3px solid var(--button);
  background-color: unset;
  color: var(--button);
  transition: all 300ms;
}

.btn-sec:hover {
  transform: translateY(-3px);
  color: var(--button);
  border: 3px solid var(--button);
  background-color: transparent;
}

.btn-round div {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--subheading);
}

.btn-round i {
  text-align: center;
  color: var(--background);
}

.btn-big {
  border: none;
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
  background: var(--subheading);
  color: var(--background);
}

.btn-big:hover {
  border: none;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 0.5em;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

.post_title {
  font-size: 1.5rem;
  color: --text;
}

.post_desc {
  color: var(--text-muted);
  font-size: 0.85rem;
}

.post_tags {
  display: flex;
  align-items: center;
  grid-gap: 0.2em;
}

.post_tag {
  color: var(--button-text);
  font-size: 0.8rem;
  padding: 0.2em 0.5em;
  border-radius: 100px;
  background: var(--button);
}

.post_image {
  max-width: 100%;
  max-height: 100%;
}

.post_image_flex {
  background: black;
  width: 100%;
  height: max-content;
  display: grid;
  place-items: center;
}

.post_link {
  color: var(--button);
}

.post_link:hover {
  text-decoration: underline;
}

.banner_outer {
  background: var(--background-secondary);
  padding: 5em 0 5em;
}

.banner {
  background: var(--subheading);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
  grid-gap: 1.5em;
}

.banner_title {
  color: var(--background);
  font-size: 2rem;
}

.banner_desc {
  color: var(--background-secondary);
  font-weight: 400;
}

.banner_btn {
  background: var(--background-secondary);
  color: var(--subheading);
  border-color: var(--background-secondary);
}

.banner_btn:hover {
  background: var(--background-secondary);
  color: var(--subheading);
  border-color: var(--background-secondary);
}

@media screen and (max-width: 850px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .banner_title {
    font-size: 1.7rem;
  }
  .banner {
    padding: 2em 2em;
  }
}

@media screen and (max-width: 600px) {
  .banner_title {
    font-size: 1.5rem;
  }
  .banner {
    padding: 2em 1.5em;
  }
}

section.main_outer {
  overflow: visible;
  background: var(--background);
}

.main {
  max-width: unset;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
  width: 98vw;
  grid-gap: 5vw;
  position: relative;
}

.main {
  min-height: calc( 100vh - 85px);
}

.main_left, .main_right {
  height: calc( 100vh - 85px);
}

.main_title {
  line-height: 1.2;
}

.main_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 45vw;
  overflow: visible;
  position: relative;
  transition: all 300ms;
  overflow: hidden;
}

.main_shapes {
  position: absolute;
  z-index: 0;
  bottom: -20%;
  right: 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.shape_fill {
  transition: all 300ms;
}

.darkmode .shape_fill {
  fill: var(--background-secondary);
}

.scroll_shape path {
  cursor: pointer;
  fill: var(--background-secondary);
  transition: 300ms;
}

.scroll_arrow path {
  fill: var(--subheading);
  transition: 300ms;
}

.main_hero {
  max-height: 80%;
  z-index: 1;
}

.main_left {
  position: relative;
  display: flex;
  align-items: center;
}

.main_content {
  z-index: 2;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 1em;
  align-items: flex-start;
  position: relative;
}

.main_title {
  color: var(--primary);
  font-size: 4rem;
  line-height: 1;
}

.main_desc {
  color: var(--primary-muted);
  max-width: 50ch;
  line-height: 1.3;
}

.main_ctas {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  grid-gap: 1em;
}

.main_scroll_anchor {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main_scroll {
  position: relative;
}

.main_scroll:hover .scroll_arrow {
  transform: translate(-50%, 90%);
}

.scroll_arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: 300ms;
}

.scroll_shape {
  transform: translateY(5px);
}

@media screen and (max-width: 1250px) {
  .main_title {
    font-size: 3.5rem;
  }
  .main_left {
    width: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .main_desc {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1200px) {
  .main_title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .main_title {
    font-size: 2.65rem;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    width: 90%;
    flex-direction: column;
  }
  .main_right {
    max-height: 60vh;
  }
  .main_hero {
    max-height: 95%;
    width: 80%;
  }
  .main_left {
    margin: 0 auto;
    flex: 1;
    height: 40vh;
    width: 80%;
    justify-content: flex-end;
  }
  .main_shapes {
    height: 100%;
    width: 100%;
    bottom: -20%;
  }
  .main_scroll {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main_ctas {
    flex-direction: column;
    align-items: stretch;
  }
}

.recent_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 5em;
}

.recent_btn {
  margin-top: 3em;
}

@media screen and (max-width: 1000px) {
  .recent_grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3em;
  }
}

@media screen and (max-width: 500px) {
  .recent_grid {
    grid-template-columns: 1fr;
  }
}

.tests_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 5em;
}

.test_image {
  border-radius: 100px;
  height: 150px;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.test_tint {
  position: relative;
  border-radius: 100vw;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.test_tint::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: var(--primary);
  z-index: 5;
  width: 150px;
  height: 150px;
}

.test_quote {
  padding: 2em 1.5em 1em;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.test_name {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.test_desg {
  color: var(--text-muted);
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1000px) {
  .tests_grid {
    grid-template-columns: 1fr;
    grid-row-gap: 5em;
  }
  .test {
    max-width: 370px;
  }
  .test_quote {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 550px) {
  .tests_grid {
    grid-template-columns: 1fr;
  }
}

.clients_grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  width: 90%;
  position: relative;
  margin: 4em auto 2em;
}

.client_logo {
  z-index: 1;
  height: 70px;
  filter: brightness(70%);
}

.darkmode .client_logo {
  filter: none;
}

@media screen and (max-width: 800px) {
  .client_logo {
    height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .client_logo {
    height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .client_logo {
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .client_logo {
    height: 35px;
  }
}

.port_outer {
  background: --background-secondary;
}

section .port_inner {
  padding: 1.5em 0 3em;
}

.port_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em 2em;
  margin-top: 4em;
}

.port_btn {
  margin-top: 3em;
}

.post_image {
  cursor: pointer;
  width: 100%;
  max-width: 450px;
}

#lightbox {
  position: fixed;
  z-index: 6969;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img,
#lightbox video {
  max-width: 1000px;
  width: 90%;
  max-height: 80%;
  z-index: 4;
}

.lightbox_load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.port_grid-skeleton .post_image, .port_grid-skeleton .post_title, .port_grid-skeleton .post_desc {
  opacity: 0.3;
  width: 100%;
  background: var(--text-muted);
  animation: skeleton-loading 700ms linear infinite alternate;
}

@keyframes skeleton-loading {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.5;
  }
}

.port_grid-skeleton .post_image {
  aspect-ratio: 1380/1080;
}

.port_grid-skeleton .post_title {
  height: 25px;
  width: 50%;
}

.port_grid-skeleton .post_desc {
  height: 7px;
}

.port_grid-skeleton .post_desc:last-of-type {
  width: 80%;
}

.post_image_flex {
  overflow: hidden;
  position: relative;
}

.post_enlarge {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: all 300ms ease-in-out;
  transform: translateX(400%);
}

.post_enlarge i {
  cursor: pointer;
  pointer-events: none;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7));
}

.post_image_flex:hover .post_enlarge {
  transform: translateX(0);
}

@media screen and (max-width: 1000px) {
  .port_grid {
    grid-template-columns: 1fr;
  }
  .post_enlarge {
    transform: translateX(0);
  }
}

.about_desc {
  width: 90%;
  max-width: 700px;
  margin-top: 2em;
  color: var(--text);
}

.know_grid {
  width: 90%;
  max-width: 500px;
  margin: 2em auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1em;
}

.know_img {
  height: 50px;
  transition: filter 300ms ease-in;
  filter: grayscale(1);
  cursor: pointer;
}

.know_img:hover {
  filter: grayscale(0);
}

.know_name {
  font-weight: 700;
  margin: 2em 0 0;
}

.contact_form {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 4em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_row {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  grid-gap: 2em;
}

.form_row > * {
  width: 100%;
}

.form_message {
  margin-top: 60px;
}

.form_field {
  color: var(--background-secondary);
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Google', Arial, sans-serif;
  transition: all 300ms ease-out;
  resize: none;
  z-index: 2;
  padding: 0.7em 0.5em;
  background: var(--form-background);
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 3px solid var(--subheading);
  border-radius: 5px;
}

.form_placeholder {
  padding-left: 10px;
  pointer-events: none;
  cursor: default;
  z-index: 0;
  transition: all 300ms ease-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.form_message_text {
  top: 20px;
}

.form_name, .form_email, .form_message {
  position: relative;
}

.form_submit {
  font-size: 1.05rem;
  width: max-content;
  margin-top: 2em;
}

.form_field:focus + .form_placeholder,
.form_field:not(:placeholder-shown) + .form_placeholder {
  transform: translateY(-50px);
}

.form_field:focus,
.form_field:not(:placeholder-shown) {
  background: var(--subheading);
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .form_row {
    flex-direction: column;
    grid-gap: 0;
  }
  .form_email {
    margin-top: 60px;
  }
  .socials_row-big {
    flex-direction: column;
    align-items: center;
  }
}

.socials_row {
  display: flex;
  justify-content: center;
  grid-gap: 0.5em;
}

.socials_row-big {
  grid-gap: 1em;
}

.socials {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  align-items: center;
}

.address_line {
  text-align: center;
}

.address {
  margin-top: 2em;
}

.g-recaptcha {
  display: grid;
  place-items: center;
  margin-top: 2em;
}

.links_inner {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.links_image {
  max-height: 250px;
  z-index: 1;
}

.links_header {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.links_footer {
  background: var(--background-secondary);
  min-height: calc( 100vh - 320px);
}

.links_short {
  display: flex;
  align-items: center;
  grid-gap: 1em;
  justify-content: center;
}

.links_short_outer, .links_long_outer {
  padding-top: 60px;
}

.links_long {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.links_long_icon {
  margin-right: 1em;
}

.links_long_link {
  transition: all 300ms ease-out;
  width: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background: transparent;
  outline: 2px solid var(--primary);
  color: var(--primary);
}

.links_long_link:hover {
  background: var(--primary);
  color: var(--background);
}

.links_shapes {
  aspect-ratio: 1/1;
  height: 250px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.darkmode .shape_fill {
  fill: var(--background-secondary);
}

body {
  background: var(--background);
  color: var(--text);
}
/*# sourceMappingURL=styles.css.map */