<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gavin Pereira</title>
    <link rel="shortcut icon" href="//gavinpereira.in/img/fav/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/sass/styles.css">
    <script src="js/svg-inject.js"></script>


</head>

<body class="darkmode">


    {{ content | safe }}



</body>

</html>