---
title: About
layout: 'base.njk'

---



{% include 'header.njk' %}




    <section class="about_outer outer">
        <div class="about about_inner inner">
            <h2 class="section_title about_title">
                About me
            </h2>
            <p class="about_desc">
                    I'm a 20-year-old graphic designer from Goa, specialized in minimalist design. I have been designing since the time I got my first laptop in 2017. Apart from graphic design, I do motion graphics and digital art. I design and develop websites. I enjoy working with colors, type, illustrations, and everything in between. I have a clear understanding of typography, color theory, layout, and design fundamentals. I love learning new things each day. Get in touch, let's get working!
            </p>
        </div>
    </section>

    <section class="know_outer outer">
        <div class="know know_inner inner">
            <h2 class="know_title section_title">
                Knowledge
            </h2>
            <div class="know_grid">
                    <img class="know_img" src="/img/tech/C.svg" alt="" srcset="" title="C">
                    <img class="know_img" src="/img/tech/CSS3.svg" alt="" srcset="" title="CSS3">
                    <img class="know_img" src="/img/tech/HTML5.svg" alt="" srcset="" title="HTML5">
                    <img class="know_img" src="/img/tech/Java.svg" alt="" srcset="" title="Java">
                    <img class="know_img" src="/img/tech/JavaScript.svg" alt="" srcset="" title="JavaScript">
                    <img class="know_img" src="/img/tech/Python.svg" alt="" srcset="" title="Python">
                    <img class="know_img" src="/img/tech/C.svg" alt="" srcset="" title="C">
                    <img class="know_img" src="/img/tech/CSS3.svg" alt="" srcset="" title="CSS3">
                    <img class="know_img" src="/img/tech/HTML5.svg" alt="" srcset="" title="HTML5">
                    <img class="know_img" src="/img/tech/Java.svg" alt="" srcset="" title="Java">
                    <img class="know_img" src="/img/tech/JavaScript.svg" alt="" srcset="" title="JavaScript">
                    <img class="know_img" src="/img/tech/Python.svg" alt="" srcset="" title="Python">
                    
            </div>
        </div>
    </section>




    
    <div class="banner_outer outer">
        <div class="banner banner_inner inner">
            <div class="banner_text">
                <h2 class="banner_title">
                    Can’t find what you’re looking for?
                </h2>
                <p class="banner_desc">
                    I always look forward to learning new technologies.
                </p>
            </div>
            <div>
                <a href="/contact" class="banner_btn btn btn-pri">Get in touch</a>
            </div>
        </div>
    </div>




{% include 'footer.njk' %}
<script src="/js/script.js"></script>