---
title: About
layout: 'base.njk'

---



{% include 'header.njk' %}




    <section class="about_outer outer">
        <div class="about about_inner inner">
            <h2 class="section_title about_title">
                About me
            </h2>
            <p class="about_desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur odit blanditiis accusamus iusto, ad sit tenetur minus ea natus quas corrupti dolores rem, consequatur, laborum totam beatae praesentium nostrum facilis facere fugiat voluptatibus molestiae pariatur! Incidunt molestiae rem laudantium esse quaerat voluptates, odit mollitia enim sint totam excepturi rerum odio sapiente, itaque culpa inventore fuga praesentium velit est dolor! Sed fugiat sequi earum voluptates ea quidem debitis perspiciatis quisquam quibusdam, sunt expedita excepturi rerum explicabo quam minus maxime itaque doloremque. Corrupti sequi nam iste, at veniam, commodi quis qui beatae, asperiores officia blanditiis! Ex ab quae neque aut rerum numquam.
            </p>
        </div>
    </section>

    <section class="know_outer outer">
        <div class="know know_inner inner">
            <h2 class="know_title section_title">
                Knowledge
            </h2>
            <div class="know_grid">
                    <img class="know_img" src="/img/tech/C.svg" alt="" srcset="" title="C">
                    <img class="know_img" src="/img/tech/CSS3.svg" alt="" srcset="" title="CSS3">
                    <img class="know_img" src="/img/tech/HTML5.svg" alt="" srcset="" title="HTML5">
                    <img class="know_img" src="/img/tech/Java.svg" alt="" srcset="" title="Java">
                    <img class="know_img" src="/img/tech/JavaScript.svg" alt="" srcset="" title="JavaScript">
                    <img class="know_img" src="/img/tech/Python.svg" alt="" srcset="" title="Python">
                    <img class="know_img" src="/img/tech/C.svg" alt="" srcset="" title="C">
                    <img class="know_img" src="/img/tech/CSS3.svg" alt="" srcset="" title="CSS3">
                    <img class="know_img" src="/img/tech/HTML5.svg" alt="" srcset="" title="HTML5">
                    <img class="know_img" src="/img/tech/Java.svg" alt="" srcset="" title="Java">
                    <img class="know_img" src="/img/tech/JavaScript.svg" alt="" srcset="" title="JavaScript">
                    <img class="know_img" src="/img/tech/Python.svg" alt="" srcset="" title="Python">
                    
            </div>
        </div>
    </section>




    
    <div class="banner_outer outer">
        <div class="banner banner_inner inner">
            <div class="banner_text">
                <h2 class="banner_title">
                    Can’t find what you’re looking for?
                </h2>
                <p class="banner_desc">
                    I always look forward to learning new technologies.
                </p>
            </div>
            <div>
                <a href="/contact" class="banner_btn btn btn-pri">Get in touch</a>
            </div>
        </div>
    </div>




{% include 'footer.njk' %}
<script src="/js/script.js"></script>