---
title: Portfolio
layout: 'base.njk'  

---




{% include 'header.njk' %}


{% for category in portfolio_categories %}
    <section class="port port_outer outer">
        <div class="inner port_inner ">
            <h2 class="port_title section_title">{{category.name}}</h2>
            {% if category.desc %}
                <p class="port_desc section_desc">{{category.desc}}</p>
            {% endif %}

            <div class="port_grid"  id="grid-{{category.num}}"></div>
            <button class="btn btn-sec port_btn" id="btn-{{category.num}}">More</button>
        </div>
    </section>
{% endfor %}


    <div class="banner_outer outer">
        <div class="banner banner_inner inner">
            <div class="banner_text">
                <h2 class="banner_title">
                    Can’t find what you’re looking for?
                </h2>
                <p class="banner_desc">
                    I might be offering it anyways.
                </p>
            </div>
            <a href="/contact" class="banner_btn btn btn-pri">Get in touch</a>
        </div>
    </div>


{% include 'footer.njk' %}

    <script src="/js/script.js"></script>
    <script src="/js/portfolio.js"></script>