---
title: Portfolio
layout: 'base.njk'  

---




{% include 'header.njk' %}





    {# <section class="port port_outer outer">
        <div class="port_inner inner">
            <h2 class="port_title section_title">
                Frontend Projects
            </h2>
            <p class="port_desc section_desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident eligendi nesciunt.
            </p>
            <div class="port_grid">
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <div class="post_tags">
                        <div class="post_tag">HTML</div>
                        <div class="post_tag">CSS</div>
                    </div>
                    <p class="post_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iusto sit
                        dolorem maxime quisquam dolor enim accusamus tempora quaerat quo.</p>
                </div>

            </div>
            <button class="btn btn-sec port_btn">More</button>
        </div>
    </section> #}





{% for category in portfolio_categories %}
    <section class="port port_outer outer">
        <div class="inner port_inner ">
            <h2 class="port_title section_title">{{category.name}}</h2>
            <p class="port_desc section_desc">{{category.desc}}</p>
            <div class="port_grid"  id="grid-{{category.num}}"></div>
            <button class="btn btn-sec port_btn" id="btn-{{category.num}}">More</button>
        </div>
    </section>
{% endfor %}









    <div class="banner_outer outer">
        <div class="banner banner_inner inner">
            <div class="banner_text">
                <h2 class="banner_title">
                    Can’t find what you’re looking for?
                </h2>
                <p class="banner_desc">
                    I might be offering it anyways.
                </p>
            </div>
            <div>
                <a href="/contact" class="banner_btn btn btn-pri">Get in touch</a>
            </div>
        </div>
    </div>

{% include 'footer.njk' %}

    <script src="/js/script.js"></script>
    <script src="/js/portfolio.js"></script>