$light-background: #FFFFFF
$light-text: #3F3F3F
$light-text-muted: #585858
$light-primary: #15847B
$light-primary-muted: #547774
$light-subheading: #0D544E
$light-grey: #B7B7B7
$light-background-secondary: #E7FFFD
$light-button: #15847B
$light-button-hover: #0D544E
$light-button-text: #FFFFFF
$light-scrollbar: #bed4d2

$dark-background: #020B0D
$dark-text: #EAEBEC
$dark-text-muted: #CCCCCC
$dark-primary: #5CEBDF
$dark-primary-muted: #8ECEC9
$dark-subheading: #C0FFFA
$dark-grey: #B7B7B7
$dark-background-secondary: #0E1E25
$dark-button: #00C7B6
$dark-button-hover: #5CEBDF
$dark-button-text: #083564
$dark-scrollbar: #29404a

body
    --background: #{$light-background}
    --text: #{$light-text}
    --text-muted: #{$light-text-muted}
    --primary: #{$light-primary}
    --primary-muted: #{$light-primary-muted}
    --subheading: #{$light-subheading}
    --grey: #{$light-grey}
    --background-secondary: #{$light-background-secondary}
    --button: #{$light-button}
    --button-hover: #{$light-button-hover}
    --button-text: #{$light-button-text}
    --shadow: #{rgba(black,0.2)}
    --scrollbar: #{$light-scrollbar}

.darkmode
    --background: #{$dark-background}
    --text: #{$dark-text}
    --text-muted: #{$dark-text-muted}
    --primary: #{$dark-primary}
    --primary-muted: #{$dark-primary-muted}
    --subheading: #{$dark-subheading}
    --grey: #{$dark-grey}
    --background-secondary: #{$dark-background-secondary}
    --button: #{$dark-button}
    --button-hover: #{$dark-button-hover}
    --button-text: #{$dark-button-text}
    --shadow: #{rgba(white,0.1)}
    --scrollbar: #{$dark-scrollbar}
