@font-face
    font-family: 'productsans'
    src: url("../font/ProductSansRegular.ttf") format('truetype')
    src: url("../font/ProductSansRegular.woff") format('woff')
    font-style: normal

@font-face
    font-family: 'productsans'
    src: url("../font/ProductSansBold.ttf")
    font-style: bold
