---
layout: base.njk
title: Uses

---

{% include 'header.njk' %}
<div class="header_cover"></div>

<section class="prose_outer outer">
    <div class="prose prose_inner inner">
        {{ content | safe }}
    </div>
</section>


{% include 'footer.njk' %}
<script src="/js/script.js"></script>
<script>
    var prose = document.querySelector('.prose')
    var anchors = prose.querySelectorAll('a')
    anchors.forEach(a=>{a.target='_blank'})
</script>