
    <div class="footer_outer outer">
        <footer class="footer footer_inner inner">
            <a class="footer_logo" href="#">
                <img src="/img/logo.svg" class="footer_logo_icon logo">
                <span class="footer_logo_text">
                    Gavin Pereira
                </span>
            </a>
            <p class="footer_joke">
                This website was made with <span class="striked">love</span><br>
                a keyboard by Gavin Pereira
            </p>
            <div class="footer_socials">
                <a class="btn-round" href="//wa.me/918888253992">
                    <div><i class="fab fa-whatsapp"></i></div>
                </a>
                <a class="btn-round" href="mailto:hi@gavinpereira.in">
                    <div><i class="fas fa-at"></i></div></a>
            </div>

            </img>
        </footer>
    </div>
