
    <div class="footer_outer outer">
        <footer class="footer footer_inner inner">
            <a class="footer_logo" href="#">
                <img src="/img/logo.svg" class="footer_logo_icon logo">
                <span class="footer_logo_text">
                    Gavin Pereira
                </span>
            </a>
            <p class="footer_joke">
                This website is made with <span class="striked">love</span><br>
                a keyboard by Gavin Pereira
            </p>
            <div class="footer_socials">
                {% for icon in footer_icons %}
                    <a class="btn-round" href="{{icon.link}}" target="_blank">
                    <div><i class="{{icon.classes[0]}} {{icon.classes[1]}}"></i></div>
                </a>
                {% endfor %}

            </div>

            </img>
        </footer>
    </div>
