    <div class="header_outer outer">
        <header class="header header_inner inner">
            <a href="/">
                <div class="header_logo">
                    <img src="/img/logo.svg" alt="Gavin Pereira logo" class="header_logo_icon logo">
                    <span class="header_logo_text">Gavin Pereira</span>
                </div>
            </a>

            <nav class="nav header_nav ">
                    {{  '<a href="#" class="nav_link nav_link-active">Home</a>'|safe 
                            if title=='Home'
                                else '<a href="/" class="nav_link">Home</a>'|safe }}

                    {{ '<a href="#" class="nav_link nav_link-active">About</a>'|safe
                            if title=='About'
                                else '<a href="/about" class="nav_link">About</a>'|safe }}

                    {{ '<a href="#" class="nav_link nav_link-active">Portfolio</a>'|safe
                            if title=='Portfolio'
                                else '<a href="/portfolio" class="nav_link">Portfolio</a>'|safe }}
                    
                    {{ '<a href="#" class="nav_link nav_link-active">Contact</a>'|safe
                            if title=='Contact'
                                else '<a href="/contact" class="nav_link">Contact</a>'|safe }}

            </nav>
            <div class="header_buttons">

                <div class="header_theme hide-blue">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12.43 2.3c-2.38-.59-4.68-.27-6.63.64-.35.16-.41.64-.1.86C8.3 5.6 10 8.6 10 12c0 3.4-1.7 6.4-4.3 8.2-.32.22-.26.7.09.86 1.28.6 2.71.94 4.21.94 6.05 0 10.85-5.38 9.87-11.6-.61-3.92-3.59-7.16-7.44-8.1z"/></svg>
                </div>

                <div class="header_burger hide-blue">
                    <span class="burger_bar burger_bar1"></span>
                    <span class="burger_bar burger_bar2"></span>
                    <span class="burger_bar burger_bar3"></span>
                </div>
            </div>
        </header>
    </div>



        <div style="min-height: 70px; background: var(--background-secondary);"></div>
