.port_outer
    background: (--background-secondary)
section .port_inner
    padding: 1.5em 0 3em

.port_grid
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 3em 2em
    margin-top: 4em
.port_btn
    margin-top: 3em

.post_image
    cursor: pointer
    width: 100%
    max-width: 450px

#lightbox
    position: fixed
    z-index: 6969
    top: 0
    width: 100%
    height: 100%
    background: rgba(black,0.8)
    display: none
#lightbox.active
    display: flex
    justify-content: center
    align-items: center

#lightbox img,
#lightbox video
    max-width: 1000px
    width: 90%
    max-height: 80%

.port_grid-skeleton
    .post_image,.post_title,.post_desc
        opacity: 0.3
        width: 100%
        background: var(--text-muted)
        animation: skeleton-loading 700ms linear infinite alternate

    @keyframes skeleton-loading
        from
            opacity: 0.3
        to
            opacity: 0.5

    .post_image
        aspect-ratio: 1380/1080
    .post_title
        height: 25px
        width: 50%
    .post_desc
        height: 7px
    .post_desc:last-of-type
        width: 80%

@media screen and ( max-width: 1000px )
    .port_grid
        grid-template-columns: 1fr
