.tests_grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 2em
    margin-top: 5em

.test_image
    border-radius: 100px
    height: 150px

.test
    display: flex
    flex-direction: column
    align-items: center
    max-width: 1000px

.test_quote
    padding: 2em 1.5em 1em
    font-size: 0.9rem
    color: var(--text-muted)

.test_name
    text-transform: uppercase
    font-size: 1.1rem

.test_desg
    color: var(--text-muted)
    font-weight: 400
    font-style: italic

@media screen and ( max-width: 1000px )
    .tests_grid
        grid-template-columns: 1fr
        grid-row-gap: 5em
    .test
        max-width: 500px
    .test_quote
        font-size: 0.85rem

@media screen and ( max-width: 550px )
    .tests_grid
        grid-template-columns: 1fr
