
.btn
    text-align: center
    cursor: pointer
    font-weight: 700
    padding: 0.5em 1em
    border-radius: 100px
    transition: all 300ms
    background: var(--subheading)
    color: var(--background)
    border: 3px solid var(--subheading)
    &:hover
        transform: translateY(-3px)

.btn-sec
    border: 3px solid var(--button)
    background-color: unset
    color: var(--button)
    transition: all 300ms
    &:hover
        transform: translateY(-3px)
        color: var(--button)
        border: 3px solid var(--button)
        background-color: transparent

.btn-round div
    display: grid
    place-items: center
    width: 30px
    height: 30px
    border-radius: 100px
    background: var(--subheading)

.btn-round i
    text-align: center
    color: var(--background)

.btn-big
    @extend .btn
    border: none
    display: flex
    align-items: center
    grid-gap: 0.5em
    background: var(--subheading)
    color: var(--background)
    &:hover
        border: none
