---
title: Home
layout: 'base.njk'

---




{% include 'header.njk' %}


    <div class="main_outer outer">
        <main class="main main_inner inner">
            <div class="main_left">
                <h1 class="main_title">
                    Here’s my totally awesome heading!
                </h1>
                <p class="main_desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
                </p>
                <div class="main_ctas">
                    <a href="#" class="btn btn-pri">Get in touch</a>
                    <a href="#" class="btn btn-sec">Résumé</a>
                </div>
            </div>
            <div class="main_right">
                <img src="img/GavinPereira.png" class="main_hero" alt="Gavin Pereira portrait">
                <img src="img/shapes.svg" onload="SVGInject(this)" class="main_shapes">
            </div>
        </main>
    </div>


    <section class="recent_outer outer">
        <div class="recent recent_inner inner">
            <h2 class="recent_title section_title">
                Check out my recent work
            </h2>
            <p class="recent_desc section_desc">
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, a! -->
            </p>
            <div class="recent_grid">
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
                <div class="post">
                    <img src="img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>

                </div>
            </div>
            <a href="#" class="recent_btn btn btn-primary">View more</a>
        </div>
    </section>


    <section class="tests_outer outer">
        <div class="test test_inner inner">
            <h2 class="tests_title section_title">
                Hear from my clients
            </h2>
            <p class="tests_desc section_desc">
                <!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse suscipit minima sequi exercitationem facere aspernatur. -->
            </p>

            <div class="tests_grid">
                <div class="test">
                    <img src="img/person.png" alt="" class="test_image">
                    <q class="test_quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque molestias
                        consequuntur eveniet, laboriosam dignissimos sit odit facere, sunt cupiditate impedit dolore
                        velit exercitationem nulla eum dolorem fuga dolores veniam optio, inventore sapiente
                        reiciendis
                        labore molestiae!</q>
                    <h4 class="test_name">Person name</h4>
                    <h5 class="test_desg">Designation</h5>
                </div>
                <div class="test">
                    <img src="img/person.png" alt="" class="test_image">
                    <q class="test_quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque molestias
                        consequuntur eveniet, laboriosam dignissimos sit odit facere, sunt cupiditate impedit dolore
                        velit exercitationem nulla eum dolorem fuga dolores veniam optio, inventore sapiente
                        reiciendis
                        labore molestiae!</q>
                    <h4 class="test_name">Person name</h4>
                    <h5 class="test_desg">Designation</h5>
                </div>
                <div class="test">
                    <img src="img/person.png" alt="" class="test_image">
                    <q class="test_quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque molestias
                        consequuntur eveniet, laboriosam dignissimos sit odit facere, sunt cupiditate impedit dolore
                        velit exercitationem nulla eum dolorem fuga dolores veniam optio, inventore sapiente
                        reiciendis
                        labore molestiae!</q>
                    <h4 class="test_name">Person name</h4>
                    <h5 class="test_desg">Designation</h5>
                </div>
            </div>
        </div>
    </section>



    <section class="clients_outer outer">
        <div class="clients clients_inner inner">
            <h2 class="clients_title section_title">
                I have worked with
            </h2>
            <div class="clients_grid">
                <img class="client_logo" src="img/clients/adrpro.png">
                <img class="client_logo" src="img/clients/zb.png">
                <img class="client_logo" src="img/clients/4L.png">
                <img class="client_logo" src="img/clients/adrstudio.png">
                <img class="client_logo" src="img/clients/macmo.png">
            </div>
        </div>
    </section>


{% include 'footer.njk' %}


<script src="js/script.js"></script>


<script>

    alert('This site is still under development. Gary, please go easy on me.')


</script>