---
title: Portfolio
layout: 'base.njk'

---




{% include 'header.njk' %}



    <div style="min-height: 70px; background: var(--background);"></div>


    <section class="port port_outer outer">
        <div class="port_inner inner">
            <h2 class="port_title section_title">
                Frontend Projects
            </h2>
            <p class="port_desc section_desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident eligendi nesciunt.
            </p>
            <div class="port_grid">
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <div class="post_tags">
                        <div class="post_tag">HTML</div>
                        <div class="post_tag">CSS</div>
                    </div>
                    <p class="post_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iusto sit
                        dolorem maxime quisquam dolor enim accusamus tempora quaerat quo.</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>

            </div>
            <button class="btn btn-sec port_btn">More</button>
        </div>
    </section>
    <section class="port port_outer outer">
        <div class="port_inner inner">
            <h2 class="port_title section_title">
                Logo Design Projects
            </h2>
            <p class="port_desc section_desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident eligendi nesciunt.
            </p>
            <div class="port_grid">
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
            </div>
            <button class="btn btn-sec port_btn">More</button>
        </div>
    </section>
    <section class="port port_outer outer">
        <div class="port_inner inner">
            <h2 class="port_title section_title">
                Motion Graphics Projects
            </h2>
            <p class="port_desc section_desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident eligendi nesciunt.
            </p>
            <div class="port_grid">
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
            </div>
            <button class="btn btn-sec port_btn">More</button>
        </div>
    </section>
    <section class="port port_outer outer">
        <div class="inner port_inner ">
            <h2 class="port_title section_title">
                Graphic Design Projects
            </h2>
            <p class="port_desc section_desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti provident eligendi nesciunt.
            </p>
            <div class="port_grid">
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
                <div class="post">
                    <img src="/img/post.png" class="post_image">
                    <h4 class="post_title">Brand name</h4>
                    <p class="post_desc">Web Dev</p>
                </div>
            </div>
            <button class="btn btn-sec port_btn">More</button>
        </div>
    </section>



    <div class="banner_outer outer">
        <div class="banner banner_inner inner">
            <div class="banner_text">
                <h2 class="banner_title">
                    Can’t find what you’re looking for?
                </h2>
                <p class="banner_desc">
                    I might be offering it anyways.
                </p>
            </div>
            <div>
                <a href="contact.html" class="banner_btn btn btn-pri">Get in touch</a>
            </div>
        </div>
    </div>






{% include 'footer.njk' %}

    <script src="/js/script.js"></script>