@font-face
    font-family: 'Google'
    src: url("/font/ProductSansRegular.ttf") format('truetype'), url("/font/ProductSansRegular.woff") format('woff')
    font-weight: normal

@font-face
    font-family: 'Google'
    src: url("/font/ProductSansBold.ttf") format('truetype')
    font-weight: bold
