::-webkit-scrollbar
    width: 12px
    background: var(--background-secondary)
    box-shadow: 0 0 2px -2px rgba(black,1)
    transition: all 300ms

::-webkit-scrollbar-track
    transition: all 300ms
    border-radius: 5px

::-webkit-scrollbar-thumb
    transition: all 300ms
    border-radius: 5px
    background: var(--scrollbar)
    cursor: pointer
